# Description:

## 1. Data Source

Data was downloaded from this website: http://insideairbnb.com/get-the-data.html, which is sourced from publicly available information from the Airbnb site. 

* Target area for analysis: Hawaii, Hawaii
* Data collection date: 07/07/2020

In [11]:
# read in customer review data in Hawaii. Data is saved in a Local folder as a .csv file.
import pandas as pd

df_review=pd.read_csv("./reviews.csv")
df_review.info()
# 620,548 rows and 5 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620548 entries, 0 to 620547
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     620548 non-null  int64
 1   id             620548 non-null  int64
 2   date           620548 non-null  object
 3   reviewer_id    620548 non-null  int64
 4   reviewer_name  620548 non-null  object
 5   comments       620290 non-null  object
dtypes: int64(3), object(3)
memory usage: 28.4+ MB

In [8]:
# remove missing 
df_review.dropna()
# 620,290 rows left

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,5065,3578629,2013-02-18,4574728,Terry,The place was difficult to find and communicat...
1,5065,4412184,2013-05-03,3067352,Olivia,Wayne was very friendly and his place is sweet...
2,5065,55331648,2015-11-29,33781202,Elspeth And Adam,We loved our time at this BnB! Beautiful surro...
3,5065,57598810,2015-12-27,12288841,Lydia,"The organisation was very uncomplicated,\r\nwe..."
4,5065,58905911,2016-01-05,41538214,Andrew,Place was great for what we wanted. Be ready t...
...,...,...,...,...,...,...
620543,43862996,635233601,2020-07-05,301920114,Iwalani,Amazing home away from home.
620544,43872014,633204187,2020-06-28,47237367,Cash,Amazing stay! Very quiet resort! Location was ...
620545,43894616,634395596,2020-07-03,12832377,Korel,Brittany’s condo was probably the nicest Airbn...
620546,43894616,635272463,2020-07-05,10157021,Amber,"Aloha,\n\nBrittany’s place was absolutely perf..."
620547,44021923,634106511,2020-07-02,132583532,Monique,This rental is absolutely beautiful. Loved the...

In [12]:
df_review["len"]=df_review.comments.apply(len)

TypeError: object of type 'float' has no len()

In [15]:
# detect review language - analyze English only 
from langdetect import detect